<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/Layout}" layout:fragment="~{Content}">
    <script src="/common/alarm/alarm.js"></script>

    <section th:if="${recom == ''}">
        <script src="/views/main/js/Recom.js"></script>
        <input id="recomInput" th:value="${recom}" hidden>
        <input id="recomId" th:value="${id}" hidden>
        <input id="recomAge" th:value="${age}" hidden>
        <input id="recomGender" th:value="${gender}" hidden>
    </section>
    <div class="side-menu position-fixed top-50 start-0 translate-middle-y" data-aos="zoom-in" data-aos-delay="300">
        <div class="RecomList">
            <div th:if="${recomList.size() >= 1}">
                <span id="RecomTitle">이런 상품은 어떠세요?</span>
                <div class="RecomNode" th:each="num : ${ #numbers.sequence(0, recomList.size() - 1) }" th:onclick="|location.href='@{/shop/detail?pno=}${recomList.get(num).getPno()}'|">
                    <div class="icon"><img th:src="@{/upload/file/}+${recomList.get(num).getImg()}" style="width: 100px; height: 100px;"></div>
                    <p><span th:text="${recomList.get(num).getPname()}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/views/shop/css/ShopList.css">
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>ONE.A.CLO</h2>
                <p>상품 리스트</p>

                <table style="width: 100%;">
                    <tr>
                        <td style="width: 30%;">
                            <form action="/shop/list" method="get">
                                <div style="display: flex;">
                                    <select class="form-select" name="searchOption" aria-label="Default select example" style="width: 50%;">
                                        <option value="pname" selected>상품명</option>
                                        <option value="bcategory">대분류</option>
                                        <option value="mcategory">중분류</option>
                                        <option value="scategory">소분류</option>
                                    </select>
                                    <input class="form-control me-2" type="search" name="searchValue" placeholder="Search" />
                                    <input class="btn btn-outline-success" type="submit" value="검색" />
                                </div>
                            </form>
                        </td> <!-- 검색 -->

                        <td style="width: 10%;">
                            <th:block th:if="${pages.isFirst() == true}">
                                <input class="btn btn-outline-secondary" type="button" value="<<" disabled>
                                <input class="btn btn-outline-secondary" type="button" value="<" disabled>
                            </th:block>
                            <th:block th:if="${pages.isFirst() == false}">
                                <button class="btn btn-outline-primary" th:onclick="|location.href='@{/shop/list(pageNumber=0, searchOption=${searchOption}, searchValue=${searchValue})}'|"><<</button>
                                <button class="btn btn-outline-primary" th:onclick="|location.href='@{/shop/list(pageNumber=${pages.getNumber() - 1}, searchOption=${searchOption}, searchValue=${searchValue})}'|"><</button>
                            </th:block>
                        </td>

                        <td style="width: 49.9999%; text-align: center;">
                            <div th:if="${pages.getTotalElements() >= 1}">
                                <div th:each="num : ${ #numbers.sequence(startPage + 1, endPage) }" style="display: inline-block;">
                                    <div th:if="${num.toString() == #numbers.formatInteger(pageNumber + 1, 0)}">
                                        <button class="btn btn-outline-secondary" th:onclick="|location.href='@{/shop/list(pageNumber=${num - 1}, searchOption=${searchOption}, searchValue=${searchValue})}'|" disabled>
                                            <span th:text="${num}"></span>
                                        </button>
                                    </div>
                                    <div th:if="${num.toString() != #numbers.formatInteger(pageNumber + 1, 0)}">
                                        <button class="btn btn-outline-info" th:onclick="|location.href='@{/shop/list(pageNumber=${num - 1}, searchOption=${searchOption}, searchValue=${searchValue})}'|">
                                            <span th:text="${num}"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td style="width: 10%;">
                            <th:block th:if="${pages.hasNext() == false}">
                                <input class="btn btn-outline-secondary" type="button" value=">" disabled>
                                <input class="btn btn-outline-secondary" type="button" value=">>" disabled>
                            </th:block>
                            <th:block th:if="${pages.hasNext() == true}">
                                <button class="btn btn-outline-primary" th:onclick="|location.href='@{/shop/list(pageNumber=${pages.getNumber() + 1}, searchOption=${searchOption}, searchValue=${searchValue})}'|">></button>
                                <button class="btn btn-outline-primary" th:onclick="|location.href='@{/shop/list(pageNumber=${pages.getTotalPages() - 1}, searchOption=${searchOption}, searchValue=${searchValue})}'|">>></button>
                            </th:block>
                        </td> <!-- 페이징 -->
                    </tr>
                </table>
            </div>

            <div class="row">

                <th:block th:if="${pages.getTotalElements() >= 1}">
                    <div th:if="${pages.getTotalElements() >= 1}" th:each="num : ${ #numbers.sequence(0, products.size() - 1) }" class="col-lg-4 col-md-6 d-flex align-items-stretch" type="button" th:onclick="|location.href='@{/shop/detail?pno=}${products.get(num).getPno()}'|" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box" style="width: 100%; height: 100%;">
                            <div class="icon"><img th:src="@{/upload/file/}+${products.get(num).getImg()}" style="width: 200px; height: 200px;"></div>
                            <br><br>
                            <h4><a th:href="@{/shop/detail(pno=${products.get(num).getPno()})}" th:text="${products.get(num).getPname()}"></a></h4>

                            <p><span th:text="${products.get(num).getBcategory()}"></span> / <span th:text="${products.get(num).getMcategory()}"></span></p>
                            <p>성별 : <span th:text="${(products.get(num).getScategory() == 'male') ? '남성' : '여성'}"></span></p>
                            <p>가격 : <span th:text="${products.get(num).getPrice()}"></span></p>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${pages.getTotalElements() <= 0}">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" type="button" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box" style="width: 100%; height: 100%;">
                            <div class="icon"><i class="">없음</i></div>
                            <br><br>
                            <h4><a href=""></a>상품 없음</h4>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <div id="RemoCon" class="text-center" th:if="${!lately.isEmpty()}">
            <div class="card">
                <div class="card-header">
                    <b class="text-primary fs-5">최근 본 상품</b>
                </div>
                <div class="card-body">
                    <div th:each="list:${lately}">
                        <a th:href="@{'/shop/detail?pno='+${list.pno}}">
                            <img th:src="@{'/upload/file/'+${list.img}}" style="width: 100px; height: 100px;">&nbsp;&nbsp;&nbsp;
                            <hr>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>