<!DOCTYPE html>
<html lang="ko" layout:decorate="~{common/layout/Layout}" layout:fragment="~{Content}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/common/alarm/alarm.js"></script>
    <script th:inline="javascript" th:src="@{/views/mypage/js/basket/BasketInfo.js}"></script>

    <section class="contact" id="contact">
        <div class="container" data-aos="fade-up">
            <div class="container">
                <h1>으악</h1>
            </div>
        </div>
    </section>


</html>