<!DOCTYPE html>
<html lang="ko" layout:decorate="~{common/layout/Layout}" layout:fragment="~{Content}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="/views/board/css/BoardInfo.css">
<script th:inline="javascript" th:src="@{/views/board/js/BoardInfo.js}"></script>
    <section class="contact" id="contact">
        <div class="container" data-aos="fade-up">
            <div class="container">
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <br>
                                <b class="InfoTitle">[[${dto.title}]]</b>
                                <hr>
                                <b>작성자 : [[${dto.writer.getId}]]</b>
                                <b class="float-lg-end text-muted" id="BoardInquiry">조회수 : [[${dto.inquiry}]]</b>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">내용</span>
                                    <textarea class="form-control col-sm-5" rows="8" readonly>[[${dto.content}]]
                                    </textarea>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">나중에 첨부파일 자리</span>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">최초 작성일</span>
                                    <input type="text" class="form-control" th:value="${#temporals.format(dto.firsttime,'yyyy-MM-dd HH:mm:ss')}" readonly>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">최종 수정일</span>
                                    <input type="text" class="form-control" th:value="${#temporals.format(dto.lasttime,'yyyy-MM-dd HH:mm:ss')}" readonly>
                                </div>
                                <button type="button" class="float-lg-end btn btn-secondary" onclick="BackList()">목록</button>
                                <button type="button" class="btn btn-secondary" th:if="${id == dto.writer.getId}" onclick="ModifyForm()">수정</button>
                                <button type="button" class="btn btn-secondary" th:if="${id == dto.writer.getId || auth == 'a'}" onclick="BoardDel()">삭제</button>
                                <button type="button" class="btn btn-secondary" th:if="${id != dto.writer.getId && dto.btype == 'n'}" onclick="BoardReport()">신고</button>
                                <button type="button" class="btn btn-secondary" onclick="BoardReply()">답글</button>
                            </div>
                            <hr>
                            <div>
                                <b class="p-4">댓글</b>
                            </div>
                            <div class="card-body" id="CmtBody">
                                <!-- 댓글 부분-->
                                <div th:each="Cmt:${CmtList}">
                                    <div class="input-group mb-4" id="Reset">
                                        <div class="input-group mb-4" th:id="CmtContent+${CmtStat.count}">
                                            <input type="hidden" th:id="CmtCno+${CmtStat.count}" th:value="${Cmt.cno}">
                                            <p class="input-group-text">[[${Cmt.writer.getId}]]</p>
                                            <textarea class="col-sm-5 w-100 FocusLine" rows="5" type="text" th:id="${Cmt.cno}" readonly>[[${Cmt.content}]]</textarea> &nbsp;
                                            <span>[[${#temporals.format(Cmt.lasttime,'yyyy-MM-dd HH:mm:ss')}]]</span>
                                            <button th:if="${id == Cmt.writer.getId}" th:data-num="${CmtStat.count}" type="button" class="btn btn-secondary" onclick="CmtComment()">답글 달기</button> &nbsp;
                                            <button th:if="${id == Cmt.writer.getId}" th:data-num="${CmtStat.count}" type="button" class="btn btn-secondary" onclick="CmtModify()">수정</button> &nbsp;
                                            <button th:if="${id == Cmt.writer.getId || auth == 'a'}" th:data-num2="${CmtStat.count}" type="button" class="btn btn-secondary" onclick="CmtDel()">삭제</button>
                                        </div>
                                    </div>
                                    <div th:id="CmtModify+${CmtStat.count}">

                                    </div>
                                </div>
                            </div>
                            <hr class="border-5">
                            <br>
                            <br>
                            <!-- 댓글 작성 부분-->
                            <div>
                                <form action="/board/p/CmtReg" method="post" name="CmtForm">
                                    <div class="input-group-text bg-body">
                                        <input type="hidden" name="bno" id="Bno" th:value="${dto.bno}" readonly>
                                        <input type="text" class="fs-4 border-0 bg-white FocusLine border-5" name="writer" id="UserId" th:value="${id}" readonly>
                                    </div>
                                    <div class="input-group">
                                        <textarea id="AreaContent" class="form-control col-sm-5" name="content" rows="5" maxlength="100" placeholder="댓글을 입력해주세요"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-secondary float-lg-end" onclick="reg()">등록</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="BoardModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content MyModal">
                            <div class="modal-header">
                                <h5 class="modal-title">게시글을 삭제하시겠습니까?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>확인을 누르시면 삭제됩니다.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="ModalDel()">확인</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="CmtModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content MyModal">
                            <div class="modal-header">
                                <h5 class="modal-title">댓글을 삭제하시겠습니까?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>확인을 누르시면 삭제됩니다.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="ModalCmtDel()">확인</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>