<!DOCTYPE html>
<html lang="ko" layout:decorate="~{common/layout/Layout}" layout:fragment="~{Content}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/views/board/css/BoardList.css">
    <script type="text/javascript" src="/views/board/js/BoardList.js"></script>

    <section class="contact" id="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Contact</h2>
                <p>자유 게시판</p>
            </div>
            <div class="container">
                <div class="row-6">
                    <div class="card">
                        <div class="card-header" >
                            One.A.Clo
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">회원 게시판</h5>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Bno</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Writer</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">조회수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="list:${boards}">
                                        <th scope="row">[[${list.bno}]]</th>
                                        <td>
                                            [[${list.title}]]
                                        </td>
                                        <td>[[${list.writer.id}]]</td>
                                        <td>[[${#temporals.format(list.firsttime,'yyyy-MM-dd HH:mm:ss')}]]</td>
                                        <td>[[${list.inquiry}]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!--card body -->
                    </div><!-- card -->
                </div><!-- row -->
                <div class="float-end">
                    <ul class="pagination flex-wrap">
                        <li class="page-item" th:if="${list.prev}">
                            <a class="page-link" th:data-num="${list.start -1}">Previous</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="BoardWriteBtn" onclick="location.href='/board/p/BoardWrite'">글쓰기</button>
                </div>
            </div>
        </div>
    </section>
</html>