<!DOCTYPE html>
<html lang="ko" layout:decorate="~{common/layout/Layout}" layout:fragment="~{Content}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/views/board/css/BoardList.css">
<script th:inline="javascript" th:src="@{/views/board/js/BoardList.js}"></script>
<script src="/common/alarm/alarm.js"></script>

    <section class="contact" id="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Contact</h2>
                <p>자유 게시판</p>
            </div>

            <div class="SearchForm">
                <form action="/board/list" method="get" id="BoardSetUp">
                    <div class="col">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group">
                            <select class="form-select" name="type">
                                <option value="">------</option>
                                <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                                <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                                <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                            </select>
                            <input type="text" class="form-control w-50" name="keyword" th:value="${pageRequestDTO.keyword}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary searchBtn" type="submit">
                                    검색
                                </button>
                                &nbsp;
                                <button class="btn btn-outline-secondary" onclick="SearchClear()" type="button">
                                    검색 초기화
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="container">
                <div class="row-6">
                    <div class="card">
                        <div class="card-header" >
                            게시판
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">회원 게시판</h5>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Bno</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Writer</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">조회수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="list:${BoardList.dtoList}">
                                    <th scope="row" th:if="${list.btype =='f' && list.step == 0}">[[${list.bno}]]</th>
                                    <th class="text-danger" scope="row" th:if="${list.btype =='a'}">공지글</th>
                                    <th scope="row" th:if="${list.btype =='f' && list.step != 0}">
                                        <i class="bi-arrow-up-left-square-fill" th:id="StepIcon1"></i>
                                    </th>

                                    <td>
                                        <a class="text-secondary" onclick="inqUp()" th:data-Bno="${list.bno}" th:href="@{'/board/p/BoardInfo?bno='+${list.bno}}" th:if="${list.btype =='f' && list.step == 0}">[[${list.title}]]</a>
                                        <a class="text-danger"
                                           th:href="@{'/board/p/BoardInfo?bno='+${list.bno}}" th:if="${list.btype =='a' && list.step == 0}">[[${list.title}]]</a>
                                        <a class="text-secondary" onclick="inqUp()" th:data-Bno="${list.bno}" th:id="StepTitle1" th:href="@{'/board/p/BoardInfo?bno='+${list.bno}}" th:if="${list.btype =='f' && list.step != 0}">[[${list.title}]]</a>
                                    </td>

                                    <td th:if="${list.step == 0}">[[${list.writer.id}]]</td>
                                    <td th:if="${list.step != 0}"><div>[[${list.writer.id}]]</div></td>

                                    <td th:if="${list.step == 0}">[[${#temporals.format(list.firsttime,'yyyy-MM-dd HH:mm:ss')}]]</td>
                                    <td th:if="${list.step != 0}"><div>[[${#temporals.format(list.firsttime,'yyyy-MM-dd HH:mm:ss')}]]</div></td>

                                    <td th:if="${list.step == 0}">[[${list.inquiry}]]</td>
                                    <td th:if="${list.step != 0}"><div>[[${list.inquiry}]]</div></td>
                                </tr>
                                <tr th:if="${BoardList.dtoList == null}">
                                    <th colspan="5" class="text-center">등록된 게시글이 없습니다</th>
                                </tr>
                                </tbody>
                            </table>
                        </div> <!--card body -->
                    </div><!-- card -->
                </div><!-- row -->
                <br>
                <div class="float-end">
                    <ul class="pagination flex-wrap" >

                        <li class="page-item" th:if="${BoardList.prev}">
                            <a class="page-link Cur" th:href="@{/board/list(page=${BoardList.start -1})}" th:data-num="${BoardList.start -1}">이전</a>
                        </li>

                        <th:block th:each="i: ${#numbers.sequence(BoardList.start,BoardList.end)}">
                            <li th:class="${BoardList.page == i}?'page-item active':'page-item'">
                                <a class="page-link Cur" id="number" onclick="PageMove()" th:data-num="${i}">[[${i}]]</a>
                            </li>
                        </th:block>

                        <li class="page-item" th:if="${BoardList.next}">
                            <a class="page-link Cur"  th:href="@{/board/list(page=${BoardList.end + 1})}"  th:data-num="${BoardList.end + 1}">다음</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="BoardWriteBtn" onclick="location.href='/board/p/BoardWrite'">글쓰기</button>
                </div>
            </div>
        </div>
    </section>
</html>