<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/Layout}" layout:fragment="~{Content}">
<!--
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>One.A.Clo</title>
    </head>

    <body>-->
        <link rel="stylesheet" type="text/css" href="/common/error/error.css">
        <div class="vc-container">
            <div class="vc-content">
                <h1 class="vc-heading">500</h1>
                <p class="vc-sub-heading">Internal Server <span class="blink-infinite">Error</span></p>
            </div>
        </div>
<!-- </body> -->
</html>