<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="FooterFragment">
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>ONE<span>.A.</span>CLO</h3>
                            <p>
                                KG ITBANK <br>
                                4층 402호<br><br>
                                <strong>Phone:</strong> 010-0000-0000<br>
                                <strong>Email:</strong> ONE.A.CLO@google.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>ONE.A.CLO</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <div id="SearchBar" class="bg-secondary d-flex align-items-center justify-content-center">
        <a onclick="Search()"><i class="bi bi-search"></i></a>
    </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">검색창</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/mypage/KeywordSearch" method="post" name="SearchForm">
                            <div class="mb-3">
                                <label for="cat">카테고리를 설정해주세요</label> &nbsp;
                                    <select class="card" name="category" id="cat">
                                        <option value="p">상품명</option>
                                        <option value="t">제목</option>
                                        <option value="w">작성자</option>
                                    </select>
                                <hr>
                                <label for="rec" class="col-form-label">검색어를 입력해주세요!!!</label>
                                <input type="text" name="keyword" class="form-control" id="rec">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="AllSearch()">검색</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</html>