<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
    <p th:replace="~{common/fragment/assets :: AssetsFragment}"></p>

    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-lg-between">
            <h1 class="logo me-auto me-lg-0"><a href="/">ONE<span>.A.</span>CLO</a></h1>

            <div th:replace="~{common/fragment/nav :: NavFragment}"></div>

            <div class="UserMenu">
                <a th:if="${session.UserInfo == null}" href="/mypage/loginform" class="get-started-btn scrollto">로그인</a>
                <a th:if="${session.UserInfo != null}" href="/mypage/p/logout" class="get-started-btn scrollto">로그아웃</a>
                <a th:if="${session.UserInfo == null}" href="/mypage/joinform" class="get-started-btn scrollto">회원가입</a>
                <a th:if="${session.UserInfo != null}" href="/mypage/p/userinfo" class="get-started-btn scrollto">나의 정보 보기</a>
                <a th:if="${session.UserInfo != null}" href="/mypage/p/Basket" class="get-started-btn scrollto">장바구니</a>
                <a th:if="${(session.UserInfo != null) && (auth == 'a' || auth == 'm')}" href="/admin/" class="get-started-btn scrollto">관리자</a>
            </div>
        </div>
    </header>
</html>