<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="NavFragment">
    <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li class="dropdown"><a href="#"><span>상의</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="#">니트/스웨터</a></li>
                    <li><a href="#">후드</a></li>
                    <li><a href="#">긴소매</a></li>
                    <li><a href="#">반소매</a></li>
                </ul>
            </li>

            <li class="dropdown"><a href="#"><span>바지</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="#">팬츠</a></li>
                    <!--                                <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
                    <!--                                    <ul>-->
                    <!--                                        <li><a href="#">Deep Drop Down 1</a></li>-->
                    <!--                                        <li><a href="#">Deep Drop Down 2</a></li>-->
                    <!--                                        <li><a href="#">Deep Drop Down 3</a></li>-->
                    <!--                                        <li><a href="#">Deep Drop Down 4</a></li>-->
                    <!--                                        <li><a href="#">Deep Drop Down 5</a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </li>-->
                    <li><a href="#">슬랙스</a></li>
                    <li><a href="#">레깅스</a></li>
                </ul>
            </li>

            <li class="dropdown"><a href="#"><span>신발</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="#">구두</a></li>
                    <li><a href="#">운동화</a></li>
                    <li><a href="#">샌들</a></li>
                    <li><a href="#">슬리퍼</a></li>
                </ul>
            </li>

            <li class="dropdown"><a href="#"><span>아우터</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="#">후드</a></li>
                    <li><a href="#">고어텍스자켓</a></li>
                    <li><a href="#">패딩자켓</a></li>
                    <li><a href="#">베스트</a></li>
                </ul>
            </li>

            <li><a class="nav-link scrollto" href="#contact">원피스</a></li>
            <li><a class="nav-link scrollto" href="#contact">스커트</a></li>
            <li id="BoardMenu" class="dropdown"><a href="#">게시판<i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/board/list">자유 게시판</a></li>
                    <li th:if="${session.UserInfo != null}"><a th:href="@{/qna/chat(id=${id})}">QnA 게시판</a></li>
                </ul>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
</html>