<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>One A Clo</title>
    </head>

    <body>
        <p th:replace="~{common/fragment/header :: HeaderFragment}"></p>

        <div id="bnbgContainer">
            <th:block th:replace="~{common/fragment/bannerBackground :: BnBgFragment}"></th:block>
        </div>

        <main id="main">
            <section id="side-page" class="position-fixed bottom-0 start-0 translate-middle-y">
                <div id="alarmList"></div>
            </section>
            <section class="inner-page">
                <div class="container">
                    <th:block layout:fragment="~{Content}"></th:block>
                </div>
            </section>
        </main>

        <p th:replace="~{common/fragment/footer :: FooterFragment}"></p>
    </body>
</html>