<!DOCTYPE html>
<html lang="ko" layout:decorate="~{common/layout/Layout}" layout:fragment="~{Content}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <link href="/common/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/common/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="/common/assets/css/style.css" rel="stylesheet">
    <link type="text/css" href="/views/mypage/css/info/PasswordChange.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/views/mypage/js/info/PasswordChange.js"></script>

    <section id="contact" class="contact">
        <table id="PasswordTable">
            <form action="/mypage/p/ChangePassword" method="post" name="PasswordForm">
                <tr>
                    <th>
                        <h1>비밀 번호 변경</h1>
                        <hr>
                        <input type="text" id="InputPassword" name="OriginPw" placeholder="현재 비밀 번호">
                        <hr>
                        <input type="text" id="InputChangePw" name="ChangePw" placeholder="새로운 비밀 번호">
                        <br>
                        <input type="text" id="InputChangePwCk" name="CkPw" placeholder="새로운 비밀 번호 확인">
                        <hr>
                        <button type="button" onclick="CheckPassword()">확인</button>
                        <br><br>
                        <button type="button" onclick="location.href='/mypage/p/userinfo'">취소</button>
                    </th>
                </tr>
            </form>
        </table>
        <div class="container" data-aos="fade-up">

        </div>
    </section>
</html>