#side-page {
    width: 200px;
}
#alarmList {
    position: absolute;
    bottom: 0;
}
.alarmNode {
    width: 100%;
    background-color: rgba(194, 255, 255, 0.5);
}

.side-menu {
    width: 200px;
}
.RecomList {
    width: 100%;
    text-align: center;
    background-color: white;
}
.RecomNode {
    margin-top: 10px;
    padding-top: 15px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}